body {
	overflow: hidden;
	margin: 0 auto;
	padding: 5px 15px;
	background: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333333;
}
.notification {
	width: 200px;
	min-height: 50px;
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
}
.text-muted {
	color: #999999;
}
.panel {
	padding: 15px;
	margin-bottom: 20px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 17.5px;
	font-weight: 500;
}
.panel-heading {
	padding: 10px 15px;
	margin: -15px -15px 15px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #dddddd;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.panel-success {
	border-color: #d6e9c6;
}
.panel-success .panel-heading {
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
